{% extends "base.html" %}

{% block title %}Reports Page{% endblock %}

{% block content %}
<h1 class="container">All the Lost and Found Reports</h1>
<div class="d-flex flex-wrap justify-content-between mb-5 container">
    {% for report in reports %}
    <div class="card" style="width: 18rem;">
        <img src="{{report.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{report.item_name}}</h5>
            <p class="card-text">
                <span>{{report.id}}</span>
                <span>{{report.type}}</span>
                <span>{{report.category}}</span>
            </p>
            <a href="{% url 'report-detail' id=report.id %}" class="btn btn-primary">details</a>
            <a href="{% url 'report-update' id=report.id %}" class="btn btn-warning">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}